* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  display: flex;
  flex: 1;
  overflow: auto;
}

.split-screen {
  flex: 1;
  margin: 0 auto;
  /* min-height: 100vh; */
  padding: 3em;
}

.split-screen h1 {
  text-align: center;
  padding-bottom: 1em;
}

.img-area {
  background: #e9fff6;
  color: teal;
}

.img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border: teal 1px solid;
  border-radius: 1em;
  height: 80vh;

}

.img-holder img {
  max-width: 100%;
  max-height: 100%;
}

.edit-area {
  background: teal;
  color: #e9fff6;
  min-height: 100vh;
}

.edit-area form {
  width: 90%;
  margin: 0 auto;

  border: #e9fff6 1px solid;
  border-radius: 3%;

  max-height: 80vh;
  overflow-y: scroll;
}

.form-list li {
  display: flex;
  padding: 1.5em;
  justify-content: flex-end;
}

.form-list>li>label {
  padding: .5em 1em .5em 0;
  flex: 1;
}

input,
textarea,
select {
  /* layout */
  padding: .5em;
  flex: 2;
  /* highlight */
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #e9fff6;
  border-radius: 5px;
}

input:hover,
textarea:hover,
select:hover {
  box-shadow: 0 0 10px #f5fed1;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #f5fed1;
  border-radius: 10px;
}

/* custom button */
.edit-area button {
  border-radius: 5px;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;

}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-lightblue {
  background-color: #e9fff6;
  color: teal;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-lightblue::after {
  background-color: #f5fed1;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 10s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e9fff6;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f5fed1;
}

@media only screen and (max-width: 1024px) {
  .container {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    display: block;
  }

  .split-screen {
    padding: 1em;
  }

  .form-list li {
    display: block;
    padding: 0.5em;
  }

  .form-list input,
  textarea,
  select {
    width: 100%;
  }

  .form-list label {
    display: block;
  }

  .edit-area form {
    width: 100%;
    border: none;
  }
}